
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content_agent_detail{
    font-family: "Kufam", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size:12px;

}

.text_content{
    width: 70%;
    display: flex;
    flex-direction: column;
    /* gap:70px; */
}
/* .text_header_homepage1 .text_header1{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:15px;
   
    
} */
.text_header1{
    display: flex;
    flex-direction: column;
    gap:20px
}
.page1_content_agent_detail{
    margin-top: 100px;
}
.text_header_homepage1{
    padding-top: 200px;
    padding-left: 90px; 
    display: flex;
    flex-direction: column;
    gap:50px
}
.email_agent_detail{
    display: flex;
    gap:5px
}
.img_agent_detail {
    width:22px;
    height: 17px;
}
.img_content_agent_detail{
    /* width: 40%; */
    /* margin-top: 50px; */
    margin-top: 200px;
    margin-right: 90px;

    /* padding-right: 120px; */
    background-color: #F3D1C1;
    padding: 20px;
    padding-top: 40px;
    box-shadow: 5px 5px 20px rgb(91, 87, 87);
}
.content_img_header{
    display: flex;
    background-image: url('../img/agent_detail/Background.jpg');
    width: 100%;
    /* min-height: 700px; */
    background-size:contain;
    background-repeat: no-repeat;
    /* padding: 200px 90px; */
}
.content_page6_2{
    /* margin-top: 5px; */
    display: flex;
    gap:70px;
    margin-left: 70px;
    justify-content: center;
    text-align: center;
}
.content_page2_1{

    background-image: url("../img/homepage/Properties.png");
        width: 100%;
        /* min-height: 700px; */
        background-size:cover;
        background-repeat: no-repeat;
        /* padding: 150px 150px; */
        margin-top: 30px;
        background-position-y: bottom;
        padding-bottom: 80px;
        padding-top: 30px;
}
.button_page2_agent_detail{
        display: flex;
        background-color: #3B3A5D;
        padding: 12px 9px;
        width: 130px;
        gap:10px;
        border-radius: 5px;
        margin: 0 auto;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        /* Thêm hiệu ứng bóng xung quanh */
        transition: box-shadow 0.3s, transform 0.7s;
}
.button_page2_agent_detail:hover{
        /* background-color: #FFBB50; */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Hiệu ứng bóng lớn hơn khi hover */
        transform: translateY(-4px);
        cursor: pointer;
}
@media (max-width: 800px){
    .content_img_header{
        background-size: cover;
    }
    .text_content{
        width: 100%;
    }
    .text_header_homepage1{
        padding: 30px;
        width: 100%;
    }
    .text_header1{
        width: 100%;
    }
    .content_page6_2,
    .content_img_header{
        flex-direction: column;
    }
    .img_content_agent_detail{
         margin-top: 50px;
         margin-right: 0;
         padding:20px;
         display: flex;
         justify-content: center;
    }
    .content_page6_2{
        justify-content: center;
        align-items: center;
    }
    .page1_content_agent_detail{
        margin-top: 50px;
    }
    .content_page6_2{
        margin: 0;
    }
}