* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content_agent {
    font-family: "Kufam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 12px
}

.img_agent {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon_person {
    display: flex;
    gap: 9px
}

.person {
    display: flex;
    justify-content: space-between;
    /* padding: 0 10px; */
}

.person_agent {}

.person_img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.text_person {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
    padding: 0 10px;
}

.agent_page1 {
    display: flex;
    width: 70%;
}

.page1_agent {
    border: none;
    width: 70%;
    margin-top: 40px;
    min-height: 300px;
    background-color: #F6F6F6;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Thêm hiệu ứng bóng xung quanh */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Điều chỉnh transition để chuyển động mượt mà hơn */
}

.page1_agent:hover {
    background-color: #FFBB50;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* Hiệu ứng bóng lớn hơn khi hover */
    transform: translateY(-4px);
    cursor: pointer;
}


.agent_page1 {
    margin: 0 auto;
    display: flex;
    gap: 20px
}

.person_text:hover {
    color: white;
}

.link_agent_detail {
    text-decoration: none;
}

.page1_agent1 {
    width: 23.3%;
    border: none;
    /* width: 70%; */
    /* margin-top: 40px; */
    min-height: 300px;
    background-color: #F6F6F6;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Thêm hiệu ứng bóng xung quanh */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Điều chỉnh transition để chuyển động mượt mà hơn */
}

.page1_agent1:hover {
    background-color: #FFBB50;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* Hiệu ứng bóng lớn hơn khi hover */
    transform: translateY(-4px);
    cursor: pointer;
}

.person_page1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
@media (max-width: 600px) {
    .agent_page1{
        flex-direction: column;
    }
    .page1_agent1{
        width: 100%;
    }
    .page1_agent{
        width: 100%;
    }

}